<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ title }} - NiftyFolder</title>

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="img/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="img/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="img/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16.png">
	<link rel="apple-touch-icon" href="img/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="img/favicon-144.png">
	<!-- ****** faviconit.com favicons ****** -->
	<meta name="theme-color" content="#ffffff">

{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock head %}

</head>
<body>

	<div class="container">

{% if flash.error or flash.success %}
		<div class="alert{% if flash.error %} alert-danger{% else %} alert-success{% endif %} alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{% if flash.error %}{{ flash.error[0] }}{% else %}{{ flash.success[0] }}{% endif %}
		</div>
{% endif %}

{% block content %}
{# Content from child template #}
{% endblock content %}

	<p class="small text-center">
		<a href="https://www.niftyfolder.com">
			<img src="{{ app_url }}/img/nifty_footer.png" width="16" height="16"> Created with NiftyFolder</p>
		</a>
	</p>

	</div>

{% block javascript %}
{# Content from child template #}
{% endblock javascript %}

</body>
</html>