{# Page show on public route if client_id.json, credentials.json or FOLDER_ID is missing #}
{% set title = 'Something is missing...' %}

{% extends "admin/base.html" %}

{% block content %}
	<div class="page-header">
		<h1><img src="{{ app_url }}/img/favicon-76.png" width="39" height="39"> Almost ready!</h1>
	</div>

{% if not clientid %}
	<div class="panel panel-danger">
		<div class="panel-heading">There is no client_id.json file</div>
		<div class="panel-body">
			<p>For NiftyFolder to work, you need to <a href="https://console.developers.google.com/project/_/apiui/apis/library">create a Google API project web application</a>. When this is done, download the json client secret file from you Google API project, rename it to <b>client_id.json</b> and add it to the NiftyFolder root directory. More info in the README.md file.</p>
		</div>
	</div>
{% elseif not credentials %}
	<div class="panel panel-danger">
		<div class="panel-heading">Not connected to Google Drive</div>
		<div class="panel-body">
			<p>For NiftyFolder to work, it has to be connected to a Google account. Log in to the admin panel using the username and password set in the config.php file and connect.</p>
			<p>
				<a href="{{ path_for('admin') }}" class="btn btn-primary">Log in</a>
			</p>
		</div>
	</div>
{% else %}
	<div class="panel panel-danger">
		<div class="panel-heading">Folder-id is not set</div>
		<div class="panel-body">
			<p>
				Log in to the admin panel using the username and password set in the config.php file and choose a folder from your Google Drive for the home folder of your website.
			</p>
			<p>
				<a href="{{ path_for('admin') }}" class="btn btn-primary">Log in</a>
			</p>
		</div>
	</div>
{% endif %}

{% endblock content %}